.contributors-container {
  margin: 2rem 0;
  text-align: center;
}

.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.contributor-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-bottom: 0.5rem;
}

.contributor-name {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 0.2rem;
} 